:root{
  --main-color: #1f2c13;
  --main-color-variant: #717548;
  --secondary-color: #d4903b;

}

body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 0.9em;
  }

  /* ::-webkit-scrollbar{
    background-color: #f3f3f3;
    width: 12px;
  }

  ::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background-color: #707968;

  } */
  
  .logo-link{
    text-decoration: none;
    color: #fff;
  }
  
  header {
    background-color: var(--main-color);
    color: #fff;
    padding: 2px 0;
    padding-top: 0;
    text-align: center;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: all 0.3s ease;
  }

  header h1{
    margin: 16px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 1rem;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: .5s;
  }

  nav ul li a:hover {
    color: var(--secondary-color);
    text-decoration: none;
    transition: .5s;
  }

  .admin-link{
    display: none;
  }
  
  main {
    padding: 2rem;
  }
  
  .category {
    margin-bottom: 2rem;
  }
  
  .category h2 {
    text-align: center;
  }
  
  /* Se puede utili */
  /* .products {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .product {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
    width: 200px;
  } */
  
  .products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;

  }

  .product{
    border-radius: 6px;
    /* box-shadow: 2px 2px 3px -4px, -2px -2px 3px -4px; */
    padding: 0.8rem;
    /* transition: .2s; */

  }

  .product:hover{
    box-shadow: 1px 1px 6px -4px, -1px -1px 6px -4px;
    /* transition: .2s; */
  }

  .product h3{
    font-weight: 400;

  }

  .product-img-container{
    width: 100%;
    height: 330px;
    margin: 0;
    padding: 0;

  }
  .product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }

  .form-cart-button{
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
  }

  .add-cart-product-button{
    width: 100%;
    background-color: #fff;
    border: none;
    outline: 1.5px solid var(--secondary-color);
    padding: 8px;
    border-radius: 8px;
    color: var(--secondary-color);
  }

  .add-cart-product-button:hover{
    outline: 2.2px solid var(--secondary-color);
  }
  
  footer {
    background-color: var(--main-color);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
  }
  /* Para hacer una imagen fixed en medio de la pagina] */
  /* main .static-img{
    background-image: url(../static-imgs/man-2425121_1920.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    background-position-x: center;
    background-position-y: 90%;
    margin-top: 1rem;
  } */
/* Estilos de los botones de inicio de sesion y carrito */
.flex-container-login-cart{
  margin: 0;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-list-items{
  display: flex;
  gap: 15px;
  list-style: none;
}

.login-link-item{
  text-decoration: none;
  color: #fff;
  transition: .5s;
}

.login-link-item:hover{
  color: var(--main-color-variant);
  transition: .5s;
}

.flex-container-cart{
  padding-right: 40px;
  width: 200px;
}

.form-cart-container{
  width: 100%;
  border-radius: 6px;
}

.btn-cart{
  width: 100%;
  padding: 6px;
  border-radius: 6px;
  background-color: #000;
  color: #717548;
  border: 2px solid var(--main-color-variant);
  cursor: pointer;
  transition: .3s;
}

.btn-cart:hover{
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  transition: .3s;
}

/* Inicio de estilos de login */

.login-container{
  border-radius: 6px;
  padding: 0;
  margin: auto;
  margin-bottom: 200px;
  box-shadow: 1px 1px 6px -4px, -1px -1px 6px -4px;
  /* box-shadow: 1px 1px 5px -1px; */
  width: 60%;
  height: 80vh;
}
 
.flex-form-img{
  display: flex;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flex-form-img.flipped {
  transform: rotateY(180deg);
}

.form-container-login{
  width: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
  backface-visibility: hidden;
}

.form-container-login h3{
  text-align: center;
}

.form-login{
  width: 100%;
}

.login-input{
  width: 97%;
  margin: 0.5rem 0;
  padding: 4px;
  border: none;
  border-bottom: 2px solid var(--main-color);
  transition: .4s;
  font-size: 0.9rem;
}

.login-input:hover{
  outline: none;
  border-bottom: 2px solid var(--main-color-variant);
}

.login-input:focus{
  outline: none;
  border-bottom: 2px solid var(--secondary-color);
  transition: .4s;
}

.forgot-password{
  font-size: 0.7rem;
  text-align: end;

}

.forgot-password-link{
  text-decoration: none;
  color: var(--main-color);
  transition: .3s;
}


.forgot-password-link:hover{
  color: var(--secondary-color);  
  text-decoration: underline;
  transition: .3s;
}



.login-btn{
  margin: 1.5rem 0;
  border-radius: 6px;
  background-color: #fff;
  color: var(--main-color);
  padding: 4px;
  width: 100%;
  border: none;
  outline: 2px solid var(--main-color);
  transition: .4s;
}

.login-btn:hover{
  outline: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  transition: .4s;
}

.img-container-login{
  width: 50%;
}

.figure-login{
  height: 80vh;
  width: 100%;
  margin: 0;
}

.img-login{
  width: 100%;
  height:100%;
  object-fit: cover;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

#register-form{
  display: none;
  transform: rotateY(180deg);
}

.login-register{
  display: inline;
  font-size: 0.8rem;
}

.login-register-btn{
  border: none;
  background-color: transparent;
  color: var(--main-color);
  transition: .3s;
}

.login-register-btn:hover{
  color: var(--secondary-color);
  transition: .3s;
}

